@import "../../globals/globals";

.carousel-content-slider {
	position: relative;
	width: 100%;
}

.carousel-content-slider__item {
	padding: 60px;

	h3 {
		margin: 0 0 40px;
		font-size: 3.052rem;
	}

	p {
		font-size: 17px;
		line-height: 1.75;
		margin-bottom: 40px;
	}
}

.carousel-navigation {
	&--active {
		color: $main !important;
	}
}

.carousel-navigation-box {
	padding: 40px 0;
	border-right: 1px solid $main;

	ul {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 100%;
		list-style: none;

		li {
			margin-bottom: 30px;
			padding: 0 20px;
		}

		a {
			font-size: 1.563rem;
			font-family: $mainFont;
			cursor: pointer;
		}
	}
}

.carousel-grid {
	display: grid;
	grid-template-columns: 1fr 2fr;
	margin: 100px auto;
}
